section{
    margin-top: 8%;
     margin-left: 25%;
     overflow-y: auto; 
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-y: auto;
  }
.head{
    display: inline;
    gap:50px;
}
.head h5{
    color: #ada9a9;
}
.createCategory{
    background-color: rgb(54, 165, 56);
    color: white;
    border: none;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 50%;
    padding: 10px 15px;
    width : 30%;
}
.table-data{
    width: 80%;
    margin-top: 10px;
    padding: 15px 10px;
    background-color: #faf7f7;
    box-shadow:0px 0px 10px #ddd;
    border-radius: 13px;
}
.search-bar{
    
        width: 100%; 
      }
      
      
      @media only screen and (max-width: 600px) {
        .search-bar {
          width: 90%; 
          margin: 0 auto; 
          max-width: 300px; 
        }
      }

.search-bar input{
    width: 200px;
    padding: 10px;
    border: 1px solid rgb(236, 233, 233);
    color:#ada9a9 ;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid rgb(236, 233, 233);
    margin-top: 5px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #e8e7e7;
}
.footer{
    display: inline-flex;
    margin-left: 70%;
    color: #ada9a9;
    gap: 15px;
}
.footer h4{
    font-size: 13px;
}
.footer select{
    border: none;
    background: none;
}
.footer span{
    margin-top: 15px;
}
.view-icon, .edit-icon, .delete-icon {
    width: 30px;
    height: 20px;
    display: inline-block;
    cursor:pointer;

}
.view-icon{
    background: no-repeat;
    background-size: cover;
    padding: 4px;
}
.edit-icon {
    background: no-repeat;
    background-size: cover;
    padding: 4px;
}

.delete-icon {
    background: no-repeat;
    background-size: cover;
    padding: 4px;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    table thead {
        display: none;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 10px;
    }
    table td {
        border-bottom: none;
        display: flex;
        justify-content: space-between;
    }
    .edit-icon, .delete-icon {
        margin-right: 10px;
    }
}
@media screen and (max-width:412px){
    button{
        margin-left: 32%;
    }
   .search-bar{
    margin-left: 6%;
   }
   
    .footer{ 
        margin-left: 0%;
    }  
}
@media screen and (max-width:720){
    button{
        margin-left: 49%;
    }
    .search-bar{
        margin-left: 47%;
    }
    .footer{
        margin-left: 20%;
    }
}
/* Employees.css */

.delete-confirmation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .confirmation-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .confirmation-box p {
    margin-bottom: 15px;
  }
  
  .confirmation-box button {
    padding: 10px 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  
  .confirmation-box button:first-child {
    background-color: rgb(54, 165, 56); /* Red color for delete button */
    color: #fff;
  }
  
  .confirmation-box button:last-child {
    background-color: #52565a; /* Grey color for cancel button */
    color: #fff;
  }
  /* Employees.css */

.create-employee-form {
    margin-top: 20px;
    overflow-y: auto; 
  }
  
  .create-employee-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .create-employee-form input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .create-employee-form .form-buttons {
    margin-top: 20px;
    width : 70%;
    margin-bottom: 5px;
  }
  
  .create-employee-form button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  
  .create-employee-form button[type="submit"] {
    background-color: rgb(54, 165, 56);
    color: #fff;
  }
  
  .create-employee-form button[type="button"] {
    background-color: #52565a;
    color: #fff;
  }
  .sub-button{
    margin-bottom: 5px;
  }
 
.table-data table {
  width: 100%;
  border-collapse: collapse;
}


.table-data th {
  background-color: #f2f2f2;
  padding: 8px;
  text-align: left;
}


.table-data td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}


@media only screen and (max-width: 600px) {
 
  .table-data th {
    display: none;
  }

  
  .table-data td {
    display: block;
    text-align: right; 
  }

  
  .table-data tr {
    border-bottom: none;
  }

  
  .table-data td {
    padding: 10px;
  }
}

  