/* Viewleave.css */

.leave-section {
    margin-top: 8%;
    margin-left: 25%;
    overflow-y: auto;
}

.leave-body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-y: auto;
}

.leave-head {
    display: inline;
    gap: 50px;
}

.leave-head h5 {
    color: #ada9a9;
}

.createLeaveCategory {
    background-color: rgb(54, 165, 56);
    color: white;
    border: none;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 40%;
    padding: 10px 15px;
    width: 30%;
}

.leave-table-data {
    width: 70%;
    margin-top: 10px;
    padding: 15px 10px;
    background-color: #faf7f7;
    box-shadow: 0px 0px 10px #ddd;
    border-radius: 13px;
}

.leave-search-bar {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .leave-search-bar {
        width: 90%;
        margin: 0 auto;
        max-width: 300px;
    }
}

.leave-search-bar input {
    width: 200px;
    padding: 10px;
    border: 1px solid rgb(236, 233, 233);
    color: #ada9a9;
    border-radius: 5px;
}

.leave-table {
    width: 80%;
    border-collapse: collapse;
    border: 2px solid rgb(236, 233, 233);
    margin-top: 5px;
}

.leave-table th,
.leave-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.leave-table th {
    background-color: #e8e7e7;
}

.leave-footer {
    display: inline-flex;
    margin-left: 70%;
    color: #ada9a9;
    gap: 15px;
}

.leave-footer h4 {
    font-size: 13px;
}

.leave-footer select {
    border: none;
    background: none;
}

.leave-footer span {
    margin-top: 15px;
}

.leave-view-icon,
.leave-edit-icon,
.leave-delete-icon {
    width: 30px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}

.leave-view-icon {
    background: no-repeat;
    background-size: cover;
    padding: 4px;
}

.leave-edit-icon {
    background: no-repeat;
    background-size: cover;
    padding: 4px;
}

.leave-delete-icon {
    background: no-repeat;
    background-size: cover;
    padding: 4px;
}

@media screen and (max-width: 600px) {
    .leave-table {
        border: 0;
    }
    .leave-table thead {
        display: none;
    }
    .leave-table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 10px;
    }
    .leave-table td {
        border-bottom: none;
        display: flex;
        justify-content: space-between;
    }
    .leave-edit-icon,
    .leave-delete-icon {
        margin-right: 10px;
    }
}

@media screen and (max-width: 412px) {
    .createLeaveCategory {
        margin-left: 32%;
    }
    .leave-search-bar {
        margin-left: 6%;
    }
    .leave-footer {
        margin-left: 0%;
    }
}

@media screen and (max-width: 720px) {
    .createLeaveCategory {
        margin-left: 49%;
    }
    .leave-search-bar {
        margin-left: 47%;
    }
    .leave-footer {
        margin-left: 20%;
    }
}

/* Leave.css */

.leave-delete-confirmation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.leave-confirmation-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.leave-confirmation-box p {
    margin-bottom: 15px;
}

.leave-confirmation-box button {
    padding: 10px 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.leave-confirmation-box button:first-child {
    background-color: rgb(54, 165, 56);
    color: #fff;
}

.leave-confirmation-box button:last-child {
    background-color: #52565a;
    color: #fff;
}

.leave-table-data table {
    width: 100%;
    border-collapse: collapse;
}

.leave-table-data th {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
}

.leave-table-data td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

@media only screen and (max-width: 600px) {
    .leave-table-data th {
        display: none;
    }
    .leave-table-data td {
        display: block;
        text-align: right;
    }
    .leave-table-data tr {
        border-bottom: none;
    }
    .leave-table-data td {
        padding: 10px;
    }
}

.create-leave-form {
    margin: 100px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ddd;
}

.create-leave-form label {
    display: block;
    margin-bottom: 10px;
}

.create-leave-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.create-leave-form .form-buttons {
    text-align: center;
}

.create-leave-form button {
    padding: 10px 20px;
    margin: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    width: 100%;
    align-items: center;
}

.create-leave-form button[type="submit"] {
    background-color: rgb(54, 165, 56);
    color: #fff;
    width: 70%;
    /* margin-left: 40px; */
}

.create-leave-form button[type="button"] {
    background-color: #52565a;
    color: #fff;
    width: 70%;
    margin-left: 35
}