/* Viewemployee.css */

.view-employee-container {
    margin-top: 8%;
    margin-left: 25%;
    overflow-y: auto;
  }
  
  .view-employee-details {
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ddd;
  }
  
  .view-employee-details h3 {
    color: rgb(54, 165, 56);
    margin-bottom: 20px;
  }
  
  .view-employee-details p {
    margin-bottom: 10px;
  }
  
  .view-employee-details strong {
    font-weight: bold;
  }
  
  .view-employee-details .loading {
    color: #52565a;
  }
  
  /* End of Viewemployee.css */
  